

@import url("https://fonts.googleapis.com/css?family=Poppins:500,600,700&display=swap");

/* general styles */

/* Custom Colors   var();   */

:root {
    --primary-cyan: hsl(180, 66%, 49%);
    --primary-dark-violet: hsl(257, 27%, 26%);
    --secondary-red: hsl(0, 87%, 67%);
    --neutral-gray: hsl(0, 0%, 75%);
    --neutral-grayish-violet: hsl(257, 7%, 63%);
    --neutral-very-dark-blue: hsl(255, 11%, 22%);
    --neutral-very-dark-violet: hsl(260, 8%, 14%);
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    
}

.cyan {
    background-color: var( --primary-cyan);
    border-style: none;
}

.white {
    background: var(--bs-white);
    border-style: none;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  background: var(--bs-white);
}

/* Typography */

.h1 {
    font-weight: 700;
    color: var(--bs-dark);
}
.h2 {
    font-weight: 700;
    color: var(--primary-dark-violet);
}

.h3 {
    font-size: 1.3rem;
    font-weight: 700;
  }

.h6  {
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary-dark-violet);
}


p {
    font-size: 1rem;
    font-weight: 500;
  }


.display-1 {
    font-weight: 700;
}

.navbar-brand {
    fill: var(--bs-white);
}

.nav-link {
    color: var(--bs-gray-dark);
}

/* placeholder */

.renderText {
    color: var(--bs-gray-dark);
    font-size: 0.8rem;
    padding: 2%;
}
.origText {
    color: var( --primary-cyan);
    font-size: 0.8rem;
    padding: 2%;
}

.renderDiv{
    background-color: var(--bs-white);
    border-radius: 0.5em;
    font-size: 0.2rem;
}

.btnCopy {
    border-radius: 0.5em;
    padding: 3%;
    margin-top: 2%;
    margin-right: 1%;
    margin-bottom: 2%;
    font-size: 0.8rem;
    align-items: center;
}

.formbox {
    z-index: 2;
    margin-top: -2%;
}

.form{
background-image: url('images/bg-shorten-desktop.svg');
background-color: var(--primary-dark-violet);
padding: 2%;
border-radius: 0.5em;
gap: 0.5em;

}

.input-group-text {
    background-color: var( --primary-cyan);
    
}

.submit-btn {
    padding: 2% 0%;
    font-size: 0.8rem;
    align-items: center;
}

/* cards */



.calltext {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--neutral-grayish-violet);
    width: 100%;
}
article{
    position: relative;
}


.cards {
    background-color: var(--neutral-grayish-violet);
    justify-content: center;
    position: relative;
    align-items: center;
    padding: 5%;
    row-gap: 2;   
}

.card {
    background-color: var(--bs-white);
    position: relative;
    display: flex;
    align-items: center;
    width: 20em;
    height: 15em;
    max-width: 325px;
    z-index: 2;
    border-radius: 5px;
    flex-direction: column;
    justify-content: left;  
    border-style: none; 
    padding: 1.5em;      
}

.bubble-icon {
    display: flex;
    align-items: center;
    background-color: var(--primary-dark-violet);
    border-radius: 50%;
    position: absolute;
    top: -40px;
    width: 20%;
    padding: 5%;   
}

.line {
   
    position: absolute;
    z-index: 0;
    width: 1000px;
    height: 6px;
    background-color: var( --primary-cyan);
  }


/* First Footer */



.ending {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url('images/bg-boost-desktop.svg');
    background-color: var(--primary-dark-violet);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 25vh;

}
.ending .h2 {
    color: var(--bs-white); 
}

/* Footer */


footer {
    padding: 50px 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bs-dark);
}

footer img {
filter: brightness(100)
}

.list-group-item {
    background-color: var(--bs-dark);
    color: var(--bs-white);
    border-style: none; 
    padding: 2px; 
    margin-top: 3%;
}

.text-muted {
    border-style: none;
    text-decoration: none;   
}

.social {
    width: 14em;
}


@media (max-width: 1025px){
    article{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    article .card{
        align-items: center;
        margin: 2em 0;
    }
    
    article::after{
        width:  10px;
        height: 90%;
        z-index: -1;
        top: 0;
    }
}

@media (max-width: 800px){
.url{
    flex-direction: column;
    height: 80%;
    justify-content: space-between;
}

.input-url, .submit-btn{
    width: 100%; height: 50px;
}

.second-section{
    width: 100%;
}

.url-box{
    background: hsl(257, 27%, 26%)  url(/images/bg-shorten-mobile.svg);
}

.third-section{
    background: hsl(257, 27%, 26%)  url(/images/bg-boost-mobile.svg);
}

.error::before{
    top: 40%;
}

.url-box, .third-section{
    background-size: 100%;
}

.main-box-footer{
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
}

.main-box-footer ul{
    margin: 1em 0
}

footer{
    height: auto;
}


.url-list-box ul li{
    margin-bottom: 2em;
    height: 8em;
    padding: 1em ;
    background: hsl(0, 0%, 100%);
    color:  hsl(0, 0%, 0%);
}

.url-list-box ul li, .shortened-link{
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.shortened-link{
    width: 100%;
    margin-top: .5em;
    border-top: 1px solid rgb(134, 133, 133);
}

.shortened-link a{
    margin: .5em;
}

.shortened-link button{
width: 100%;
}
}

#load-icon{
    width: 35px; height: 35px;
    margin: .5em auto;
    animation: mymove 3.5s infinite;
    display: none;
}

#load-icon img{
    filter: opacity(.5);
}



/*   Mobile: 375px  -----   Desktop: 1440px  */